<head>
  <script>
    $ = require('cheerio');
  </script>
</head>
<body>

  <div id="container" style="margin: 2em;">
    <!-- <form action="takeInfo"> -->
      <div id="intakeArea">
        <div id="recipientMail" style="padding: 1em;">Recipient Email: <input type="text" name="recEmail"></div>
        <div id="emailCount" style="padding: 1em;">Number of Sends: <input type="integer" name="sendsNum"></div>
        <button id="hitSend">Hit Send</button>
      </div>
    <!-- </form> -->
  </div>

  <div id="senders">Senders born:
    <div id="sendNames"></div>
  </div>

</body>