<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <script src="/build/bundle.js"></script>
  <div id="container" style="margin: 2em;">
      <div id="intakeArea">
        <div id="recipientMail" style="padding: 1em;">Recipient Email: <input type="text" name="recEmail"></div>
        <div id="emailCount" style="padding: 1em;">Number of Sends: <input type="integer" name="sendsNum"></div>
        <button id="hitSend">Hit Send</button>
      </div>
  </div>

  <div id="senders">Senders born:
    <div id="sendNames"></div>
  </div>

</body>
</html>